.navbar {
    background-color: #FFFFFF;
    border-color: #E7E7E7;
    font-size: 20px;
}

.navbar-header {
	height: 120px;
}

.navbar-brand,
.navbar-nav li a {
	height: 120px;
	line-height: 90px;
}

.navbar-logo {
	padding-top: 15px;
}

.navbar-collapse .navbar-nav > li > a {
    color: #151F38;
}

.navbar-collapse .navbar-nav > li > a:hover	{
    color: #32394E;
}

.yellow_background {
	background-color: #F3D892;
}

.blue_background {
	background-color: #32394E;
	color: #F3D892;
}

.deepblue_background {
	background-color: #151F38;
	color: #F3D892;
}

.banner h1 {
	font-size: 63px;
	font-weight: 500;
}

.banner {
	font-size: 21px;
	font-weight: 500;
	padding: 25px;
}